body{
	font-family: "Century Gothic", "Verdana", "Arial", sans-serif;
	background-color: #E7E7E7;
}

p{
	text-align: center;
	vertical-align: middle;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 140px;
  background-color: #b5ff54;
}

.contents {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

.titleText {
	padding-left: 40px;
	padding-right:40px;
	background-color: #FFFFFF;
}
.loginbg{
	background-image: url('../images/backgroundBiru.jpg');
	background-size: 100% 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right:40px;
	font:bold;
	text-align: center;
	height: 500px;
}

.row{
	padding-top:5px;
	padding-bottom:5px;
}

.navbar-header{
	font-size:16px;
	background-color: #FAFAFA;
}

.nav{
	font-size:16px;
	background-color: #FAFAFA;
}
.navbar{
	font-size:16px;
	background-color: #FAFAFA;
}

.tableimath{
	text-align: center;	
}
th{
	text-align: center;
}

.formImath{
	text-align: left;	
}

.form-signin
{
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
{
    margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: 10px;
    border-radius: 0px;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-radius: 0px;
}
#account-wall
{
    text-align: center;
    background-color: #ffaf25;
    color:white;
}

#submitlogin{
	background-color: #fff38d;
    color:black;
}

#girl{
	background-image: url('../images/Girl.png');
	width: 200px;
	height: 200px;	
}

#boy{
	background-image: url('../images/Boy.png');
	width: 200px;
	height: 200px;
}

#chooseKelas{
	margin-bottom: 100px;
	vertical-align: middle;
}

#formlogin{
	background-color: rgba(204, 204, 204);	
}

}
